<ion-view view-title="Settings">
    <ion-content>

        <ion-list>

            <ion-item class="item-divider">Units</ion-item>

            <!-- ionRadio 컴포넌트로 단위 형식을 선택 -->
            <ion-radio ng-model="settings.units" ng-value="'us'">Imperial (Fahrenheit)</ion-radio>
            <ion-radio ng-model="settings.units" ng-value="'si'">Metric (Celsius)</ion-radio>
            <div class="item item-divider">Days in forecast <span class="badge badge-dark">{{settings.days - 1}}</span>
            </div>

            <!-- 표시할 기간을 정하기 위해 범위 형식의 input 사용 -->
            <div class="item range range-positive">
                2 <input type="range" name="days" ng-model="settings.days" min="2" max="8" value="8"> 8
            </div>

            <!-- canDelete 값에 따라 삭제버튼을 보여줄 목록 생성 -->
            <div class="item item-button-right">Favorites
                <button class="button button-small" ng-click="canDelete = !canDelete">{{canDelete ? 'Done' : 'Edit'}}
                </button>
            </div>

        </ion-list>

        <ion-list show-delete="canDelete">

            <!-- 지역 목록을 돌면서 실행 -->
            <ion-item ng-repeat="location in locations">

                <!-- 삭제상태가 활성화 되었을 때에만 목록에 나타나는 삭제버튼 -->
                <ion-delete-button class="ion-minus-circled" ng-click="remove($index)"></ion-delete-button>
                {{location.city}}
            </ion-item>

        </ion-list>

        <!-- API 출처를 밝힘 -->
        <p class="padding">Weather data powered by <a href="https://developer.forecast.io/docs/v2">Forecast.io</a> and geocoding powered by <a href="https://developers.google.com/maps/documentation/geocoding/">Google</a>.</p>

    </ion-content>
</ion-view>
