<ion-view view-title="{{params.city}}">

    <!--사이드바를 토글하는 왼쪽 버튼 재선언-->
    <ion-nav-buttons side="left">
        <button class="button button-clear" menu-toggle="left"><span class="icon ion-navicon"></span></button>
    </ion-nav-buttons>

    <!--오른쪽에 내비게이션 버튼 추가-->
    <ion-nav-buttons side="right">
        <!--showOptions를 호출할 내비게이션 버튼 추가-->
        <button class="button button-icon" ng-click="showOptions()"><span class="icon ion-more"></span></button>
    </ion-nav-buttons>

    <!-- ionScroll의 위치를 잡기 위해 ionContent 사용 -->
    <ion-content>
         <!--페이징을 위해 ionScroll을 수직으로만 가능하도록 설정, 높이와 너비를 정확히 지정 -->
        <ion-scroll direction="y" paging="true" ng-style="{width: getWidth(), height: getHeight()}">
            <!--안쪽에 div를 생성하고 세 페이지만큼의 높이로 지정-->
            <div ng-style="{height: getTotalHeight()}">

                <!--ionScroll 영역과 같은 높이와 너비를 가지도록 선언된 페이지 -->
                <div class="scroll-page center" ng-style="{width: getWidth(), height: getHeight()}">

                    <!--서브헤더처럼 보이기 위해 헤더 바 사용-->
                    <div class="bar bar-dark">
                        <h1 class="title">Current Conditions</h1>
                    </div>

                    <!--페이지 콘텐츠의 위치를 잡기 위해 has-header 클래스를 지정-->
                    <div class="has-header">
                        <h2 class="primary">{{forecast.currently.temperature | number:0}}&deg;</h2>
                        <!--조건에따라 아이콘을 매핑하기 위해 icons 필터 사용-->
                        <h2 class="secondary icon" ng-class="forecast.currently.icon | icons"></h2>
                        <p>{{forecast.currently.summary}}</p>
                        <p>
                            High: {{forecast.daily.data[0].temperatureMax | number:0}}&deg;
                            Low: {{forecast.daily.data[0].temperatureMin | number:0}}&deg;
                            Feels Like: {{forecast.currently.apparentTemperature | number:0}}&deg;
                        </p>
                        <p>
                            Wind: {{forecast.currently.windSpeed | number:0}}
                            <!--풍향을 표시하기 위해 화살표를 주어진 각도만큼 회전시킴-->
                            <span class="icon wind-icon ion-ios7-arrow-thin-up" ng-style="{transform: 'rotate(' + forecast.currently.windBearing + 'deg)'}"></span>
                        </p>
                    </div>
                </div>

                <div class="scroll-page" ng-style="{width: getWidth(), height: getHeight()}">
                    <div class="bar bar-dark">
                        <h1 class="title">Daily Forecast</h1>
                    </div>
                    <div class="has-header">
                        <p class="padding">{{forecast.daily.summary}}</p>
                        <!--설정에서 지정한 날 수를 보여주기 위해 limitTo 필터 사용-->
                        <div class="row" ng-repeat="day in forecast.daily.data | limitTo:settings.days">
                            <!--유닉스 타임스탬프를 요일로 변환하기 위해 date 필터 사용-->
                            <div class="col col-50">{{day.time + '000' | date:'EEEE'}}</div>
                            <!--10 단위로 근사 시킨 퍼센트 값을 만들기 위해 chance 필터 사용-->
                            <div class="col"><span class="icon" ng-class="day.icon | icons"></span><sup>{{day.precipProbability | chance}}</sup></div>
                            <div class="col">{{day.temperatureMax | number:0}}&deg;</div>
                            <div class="col">{{day.temperatureMin | number:0}}&deg;</div>
                        </div>
                    </div>
                </div>

                <div class="scroll-page" ng-style="{width: getWidth(), height: getHeight()}">
                    <div class="bar bar-dark">
                        <h1 class="title">Weather Stats</h1>
                    </div>
                    <div class="list has-header">
                        <!--지역시간대에 맞게 변환시킨 일출, 일몰 시간-->
                        <div class="item">Sunrise: {{forecast.daily.data[0].sunriseTime | timezone:forecast.timezone}}</div>
                        <div class="item">Sunset: {{forecast.daily.data[0].sunsetTime | timezone:forecast.timezone}}</div>
                        <div class="item">Visibility: {{forecast.currently.visibility}}</div>
                        <div class="item">Humidity: {{forecast.currently.humidity * 100}}%</div>
                    </div>
                </div>

            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
