<ion-view view-title="Account">
  <ion-content>
    <div class="list list-inset">
      <button class="button button-block button-calm" ui-sref="signin" ng-hide="false">
        로그인
      </button>
      <button class="button button-block button-calm" ng-hide="true" >
        로그아웃
      </button>
      <button class="button button-block button-calm" ui-sref="signup">
        회원가입
      </button>
      <button class="button button-block button-calm">
        그냥둘러보기
      </button>

      <div class="item item-body">
        유저정보
        <p>
          {{ user }}
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
