<ion-view view-title="Account">
  <ion-content>
    <div class="list list-inset">
      <button class="button button-block button-calm" ui-sref="signin">
        로그인
      </button>
      <button class="button button-block button-calm" ng-click="logout()">
        로그아웃
      </button>
      <button class="button button-block button-calm" ui-sref="signup">
        회원가입
      </button>
      <button class="button button-block button-calm" ui-sref="profile">
        회원정보
      </button>
      <button class="button button-block button-calm" ng-click="resign()">
        회원탈퇴
      </button>

      <div class="item item-body">
        유저정보
        <p> UID <a ng-bind="user.user.uid"></a> </p>
        <p> Email <a ng-bind="user.user.email"></a> </p>
        <p> DisplayName <a ng-bind="user.user.displayName"></a> </p>
        <p> {{gg}}</p>
      </div>

    </div>
  </ion-content>
</ion-view>
