<ion-view view-title="회원가입">
  <ion-content>
    <div class="list list-inset">

      <label class="item item-input">
        <input type="text" placeholder="NickName" ng-model="displayname" required>
      </label>

      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="useremail" required>
      </label>

      <label class="item item-input">
        <input type="password" placeholder="영문/숫자혼합 6~20자리" ng-model="password" required>
      </label>

      <button class="button button-block button-balanced" ng-click="register(displayname, useremail, password, '/signin')">
        회원가입
      </button>

    </div>
  </ion-content>
</ion-view>
