<ion-view view-title="Registry">
  <ion-content>
    <div class="list list-inset">

      <label class="item item-input">
        <input type="text" placeholder="Nickname">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>

      <button class="button button-block button-balanced">
        회원가입
      </button>

      <button class="button button-block button-outline button-balanced">
        가입취소
      </button>

    </div>
  </ion-content>
</ion-view>
