<ion-view view-title="로그인">
  <ion-content>
    <div class="list list-inset">

      <label class="item item-input">
        소셜 로그인
      </label>

      <button class="button button-block button-positive" ng-click="loginWithPortal('facebook')">
        페이스북
      </button>

      <button class="button button-block button-assertive" ng-click="loginWithPortal('google')">
        구글
      </button>

      <button class="button button-block button-calm" ng-click="loginWithPortal('twitter')">
        트위터
      </button>

      <label class="item item-input">
      이메일 로그인(메일 인증 필요)
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="useremail" required>
      </label>

      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password" required>
      </label>

      <button class="button button-block button-balanced" ng-click="loginWithEmail(useremail, password)">
        이메일 로그인
      </button>

      <button class="button button-block button-calm" ui-sref="resetPassword">
        Forget Password?
      </button>


    </div>
  </ion-content>
</ion-view>
